.scoreboard {
    background: #111128;
}

.scoreboard-table {
    background: transparent;
}

.scoreboard-table td {
    border: none;
    padding: 2px 8px;
}

.scoreboard-score {
    text-align: right;
}
